<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: "Home", theme }) %>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/pages/index.js" defer></script>
</head>
<body>
    <div class="nav-container">
        <div class="icon-container">
            <img src="/img/android-chrome-icon.png" alt="ComfyUI Mini Icon" class="nav-icon">
            <span class="version-text">v<%= appVersion %></span>
        </div>
    </div>
    <div class="main-container">
        <div class="workflow-grid">
            <% for (const [filename, name] of Object.entries(serverWorkflowNames)) { %>
                <%- include('../partials/workflow-grid-item', { name, filename }) %>
            <% }; %>
        </div>
    </div>
    <%- include('../partials/actionSheet') %>
    <%- include('../partials/actionBar', { 
        buttons: [
            { action: "/", icon: "home", text: "Home", type: "link" },
            { action: "/#search", icon: "search", text: "Search (TBA)", type: "link" },
            { action: "/import", icon: "import", text: "Import", type: "link"}, // main button
            { action: "/gallery", icon: "gallery", text: "Gallery", type: "link" },
            { action: "/settings", icon: "settings", text: "Settings", type: "link" }
        ] 
    }) %>
</body>
</html>