<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: "Home", theme }) %>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/pages/index.js" defer></script>
</head>
<body>
    <div class="nav-container">
        <div class="icon-container">
            <img src="/img/android-chrome-icon.png" alt="ComfyUI Mini Icon" class="nav-icon">
            <span class="version-text">v<%= appVersion %></span>
        </div>
    </div>
    <div class="main-container">
        <div class="workflow-grid">
            <% for (const [filename, name] of Object.entries(serverWorkflowNames)) { %>
                <%- include('../partials/workflow-grid-item', { name, filename }) %>
            <% }; %>
        </div>
    </div>
    <%- include('../partials/actionSheet') %>
    <%- include('../partials/actionBar', { 
        actions: [
            { href: "/", icon: "home", text: "Home" },
            { href: "/#search", icon: "home", text: "Search" },
            { href: "/import", icon: "import", text: "Import",}, // main button
            { href: "/gallery", icon: "gallery", text: "Gallery" },
            { href: "/settings", icon: "settings", text: "Settings" }
        ] 
    }) %>
</body>
</html>