<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: "Home", theme }) %>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/pages/index.js" defer type="module"></script>
</head>
<body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/sidebar', { activePage: 'home' }) %>
    <div class="main-container">
        <div class="workflow-grid">
            <% for (const workflowMetadata of serverWorkflowMetadata) { %>
                <%- include('../components/home/card', { workflowMetadata }) %>
            <% }; %>
        </div>
    </div>
    <%- include('../partials/actionSheet') %>
</body>
</html>