<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: title, theme }) %>
    <link rel="stylesheet" href="/css/workflow.css">
    <script src="/js/pages/workflow.js" defer type="module"></script>
    <script src="/js/common/popupWindow.js" defer></script>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="main-container">
        <span class="title-text">
            <h1 class="workflow-title"><%= title %></h1>
            <a class="edit-button-container" href="/edit/<%= type %>/<%= identifier %>">
                <span class="icon edit"></span>
            </a>
        </span>
        <h2 class="category-title">Inputs</h2>
        <div class="inputs-container"></div>
        <div class="run-button-wrapper">
            <button class="run-workflow">Run workflow</button>
        </div>
        <button class="cancel-run-button disabled">Cancel</button>
        <div class="progress-bars">
            <span class="progress-bar-label">Total progress</span>
            <div class="total-images-progress progress-bar"><span class="progress-bar-text">0%</span><div class="progress-bar-inner"></div></div>
            <span class="progress-bar-label">Current image progress</span>
            <div class="current-image-progress progress-bar"><span class="progress-bar-text">0%</span><div class="progress-bar-inner"></div></div>
        </div>
        <h2 class="category-title">Output</h2>
        <div class="output-images-container">
            <div class="image-placeholder-hint">Press 'Run workflow' to generate an image</div>
        </div>
        <div class="previous-outputs-container">
            <div class="previous-outputs-toggler">
                <span class="previous-outputs-toggler-icon">^^^</span>
                <span class="previous-outputs-toggler-text">Show previous outputs</span>
                <span class="previous-outputs-toggler-icon">^^^</span>
            </div>
            <div class="previous-outputs-list hidden"></div>
        </div>
    </div>
    <script>
            const workflowDataFromEjs = <%- JSON.stringify(workflow) %>;
            const passedWorkflowIdentifier= <%- JSON.stringify(identifier) %>;
            const passedWorkflowType = <%- JSON.stringify(type) %>;
    </script>
    <%- include('../partials/sidebar', { activePage: 'workflow' }) %>
</body>
</html>