<div class="action-bar">
    <link rel="stylesheet" href="/css/partial/actionBar.css">
    <a class="action-bar-button" href="<%= actions[0].href %>">
        <span class="icon <%= actions[0].icon %>"></span>
        <span><%= actions[0].text %></span>
    </a>
    <a class="action-bar-button" href="<%= actions[1].href %>">
        <span class="icon <%= actions[1].icon %>"></span>
        <span><%= actions[1].text %></span>
    </a>
    <a class="action-bar-button action-bar-main-button" href="<%= actions[2].href %>">
        <span class="icon <%= actions[2].icon %>"></span>
        <span><%= actions[2].text %></span>
    </a>
    <a class="action-bar-button" href="<%= actions[3].href %>">
        <span class="icon <%= actions[3].icon %>"></span>
        <span><%= actions[3].text %></span>
    </a>
    <a class="action-bar-button" href="<%= actions[4].href %>">
        <span class="icon <%= actions[4].icon %>"></span>
        <span><%= actions[4].text %></span>
    </a>
</div>