<div class="action-bar">
    <link rel="stylesheet" href="/css/partial/actionBar.css">
    <script src="/js/common/actionBar.js" defer type="module"></script>

    <% buttons.forEach((button, index) => { %>
        <% if (button.type === "link") { %>
            <a class="action-bar-button <%= index === 2 ? "action-bar-main-button" : "" %>" href="<%= button.action %>">
                <span class="icon <%= button.icon %>"></span>
                <span><%= button.text %></span>
            </a>
        <% } else if (button.type === "function") { %>
            <button class="action-bar-button <%= index === 2 ? "action-bar-main-button" : "" %>" data-action="<%= JSON.stringify(button.action) %>">
                <span class="icon <%= button.icon %>"></span>
                <span><%= button.text %></span>
            </button>
        <% } %>
        <% if (index === 2) { %>
            <div class="action-bar-spacer"></div>
        <% } %>
    <% }); %>
</div>